.classDetailsContainer h2 {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  margin-top: 80px;
  color: rgb(160, 160, 160);
  font-family: "Charlotte";
}

.title {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}

.name {
  font-weight: bold;
}

.classRide {
  color: rgb(226, 27, 183);
  font-weight: bold;
}

.classResistance {
  color: rgb(0, 225, 255);
  font-weight: bold;
}

.leftColumn {
  /* width: 30%; */
  border-radius: 15px;
  padding: 1px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid white;
}

.rightColumn {
  /* width: 30%; */
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 50px;
  border: 1px solid white;
}

.description {
  font-size: 1.8rem;
  font-style: italic;
  padding: 5px;
  margin-top: 80px;
}

.backButton {
  background-color: rgb(0 0 0);
  font-size: 50px;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.backButton:hover {
  color: rgb(255 193 7);
}
