.container {
  margin-top: 10px;
  border-radius: 15px;
}

.login {
  margin: auto;
  width: 500px;
}

.container h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.create,
.submit {
  background-color: rgb(0 0 0);
  border: 1px solid rgb(255 255 255);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-family: "Charlotte";
  text-transform: uppercase;
  color: white;
  transition: background-color 0.3s;
}

.create {
  background: rgb(161, 161, 161);
  color: black;
}

.submit:hover,
.create:hover {
  background-color: rgb(255 193 7);
  border: 1px solid rgb(255 193 7);
  color: black;
}
