/* Formatting for carousel */

.carousel img {
  height: 1220px;
  /* opacity: 0.8; */
}

.carousel {
  text-align: center;
  position: relative;
  margin: auto;
  width: 100%;
  /* background-color: black; */
}

.carouselCaption {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-bottom: 35%;
  margin-right: 30%;
}
