/* Formatting for carousel */

.carousel img {
  height: 800px;
  opacity: 0.5;
}

.carousel {
  text-align: center;
  position: relative;
  margin: auto;
  width: 100%;
  /* overflow: auto; */
}

.carouselCaption {
  text-decoration: none;
  outline: 10px;
  color: white;
}
